<!DOCTYPE html>
<head>
    <title>UPASTHITI</title>
    <script src="https://unpkg.com/scrollreveal@4"></script>
{#    <link href="../static/styles/styles.css" rel="stylesheet" type="text/css"/>#}
{#          <link rel="icon" type="image/png" href="static/logo.png" />#}

</head>
<body class=bg>
<h1 class="heading1">ADD NAME</h1>
<section id="form" class="try">
    <form method="POST" action="/form_check">
        <input type="text" required="required" name="Name" placeholder=" Enter your Full Name"><br><br>
        <input type="submit" value="Take Me Live!!"></form>
</section>
<script> ScrollReveal().reveal('.try');
ScrollReveal().reveal('.heading1');</script>
<br>